@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --primary: #4f46e5;
  /* Indigo - main accent color */
  --secondary: #3730a3;
  /* Deep Indigo - for hover states */
  --background: #12121b;
  /* Deep Dark Blue-Gray - main background */
  --surface: #2d2d44;
  /* Medium Dark Blue-Gray - for cards/inputs */
  --text: #e2e8f0;
  /* Light Gray - for text */
  font-family: "Outfit", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

body,
html {
  overflow-x: hidden;
}
